<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href='https://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet'>
<style>

</style>
    
</head>
<body>
    <div class="container">
        <div class="startBTN">
            <h1>Onmute Signs</h1>
<img src="/images.jpg" alt="">
        
        </div>

        <div>
            <p class="instructions">
                Try getting all the phrases before running out of time and get rewarded  &#127775 10 Pxs.
                Get through the first level and go to the ultimate challenge and receive a badge &#127894 .
            </p>
        </div>
        <form action="./level1" method="POST">
            <div class="player">
              
                <label for="name"></label>
                <input type="text" placeholder="Your name is required here">
            </div><br>
    
            <div class="button">
                <button type="submit" name="start">Get Started</button>
            </div>
        </form>
    </div>
</body>
</html>