<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    {{!--
    <link rel="stylesheet" href="./style2.css"> --}}
</head>

<body>

    <div class="container">
        <div class="startBTN">
            <h3>Onmute GameApp</h3>
        </div>
        <form action="./level1" method="POST">
            <p>
            <h3>WELCOME!!!</h3>
            This is a good game to learn and practise sign languagein a fun way.
            In this game you are given amazing fun tasks to complete and a fun challenge
            to complete after every 3 tasks to test your knowledge.
            </p>

            <h3>GET REWARDED!!!</h3>
            <p>
                Each task has 10 points, in every wrong attempt you lose 2 points, 
                but don't worry you will gain more points than you lose.
            </p>


            
            <div class="button">
                <button type="submit" name="start">Get Started</button>
            </div>

        </form>

    </div>
</body>

</html>