body {
    color: rgb(240, 99, 106);
    font-family: 'Gorditas';
    font-size: 22px;
}

.container {
    margin: auto;
    width: 50%;
    padding: 2em;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: solid black;
}

.image {
    display: flex;
    border: white;
    border-radius: 15%;
}

.button button {
    width: 100px;
    height: 50px;
    background-color: rgb(240, 99, 106);
    border: 1px solid wheat;
    color: black;
    outline: none;
    transition: .6s ease;
    border-radius: 25px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(240, 99, 106);
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

.player input {
    height: 4vh;
    width: 30vh;
}

.button {
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    border: 1px solid wheat;
    color: black;
    outline: none;
    transition: .6s ease;
    border-radius: 25px;
}

.button button:hover {
    cursor: pointer;
    background-color: rgb(238, 232, 221);
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

.startBTN {
    padding: 1em;
}